<!DOCTYPE html>
<html lang="fi">

    
<head th:replace="fragments/layout :: header">
</head>
<body>

    <div th:replace="fragments/layout :: jumbotron">
    </div>

    <nav th:replace="fragments/layout :: navigaatio">
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          
            <p>Albumiin mahtuu korkeintaan 10 kuvaa</p>
          


        </div>
      </div>
    </div>

<div th:replace="fragments/layout :: footer">
</div>

</body>
</html>
