<!DOCTYPE html>
<html lang="fi">

    
<head th:replace="fragments/layout :: header">
</head>
<body>

    <div th:replace="fragments/layout :: jumbotron">
    </div>

    <nav th:replace="fragments/layout :: navigaatio">
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4">
          <img th:unless="${kuva.id} == null" class ="img-responsive" style="max-width:100%" th:src="@{/kayttaja/{kayttaja}/kuva/{id}(kayttaja=${kayttaja},id=${kuva.id})}"/>
          <div th:if="${kuva.id} == null" class ="img-responsive fakeimg" style="max-width:100%">Ei vielä profiilikuvaa</div>
          <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
          <h6>Nimi</h6>
          <p th:text="${nimi}">Nimi</p>
          <a th:text="${vaihdaNimi.kuvaus}" th:href="${vaihdaNimi.linkki}">Link</a>
          <hr>
          <h6>Kuvaus</h6>
          <p th:if="${#strings.isEmpty(kuvaus)}">
            Ei vielä kuvausta
          </p>
          <p th:text="${kuvaus}">Kuvaus</p>
          <a th:text="${vaihdaKuvaus.kuvaus}" th:href="${vaihdaKuvaus.linkki}">Link</a>


        </div>
      </div>
    </div>

<div th:replace="fragments/layout :: footer">
</div>

</body>
</html>
