<!DOCTYPE html>
<html lang="fi">

    
<head th:replace="fragments/layout :: header">
</head>
<body>

    <div th:replace="fragments/layout :: jumbotron">
    </div>

    <nav th:replace="fragments/layout :: navigaatio">
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          
          <div tiles:fragment="content">
            <form class="form-group" name="f" method="POST" th:action="@{/vaihdakuvaus}">
                <fieldset>
                    <legend>Vaihda kuvaus</legend>
                    <p th:if="${#strings.isEmpty(kuvaus)}">Ei vielä kuvausta</p>
                    <p th:text="${kuvaus}">
                    <div class="form-group">
                        <input class="form-control" type="text" name="kuvaus"/>
                    </div>
                    
                    <div class="form-actions" >
                        <button class="btn btn-primary" type="submit">Vaihda kuvaus</button>
                    </div>
                </fieldset>
            </form>
        </div>


        </div>
      </div>
    </div>

<div th:replace="fragments/layout :: footer">
</div>

</body>
</html>
