<!DOCTYPE html>
<html lang="fi">

    
<head th:replace="fragments/layout :: header">
</head>
<body>

    <div th:replace="fragments/layout :: jumbotron">
    </div>

    <nav th:replace="fragments/layout :: navigaatio">
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-6 mx-auto">
            <legend>Lisää kuva</legend>
            <form class="form-group" method="POST" th:action="@{/lisaakuva}" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="file" name="file" id="file"/>
                    </div>
                <button class="btn btn-primary" type="submit">Lisää kuva</button>
            </form>

        </div>
      </div>
    </div>

<div th:replace="fragments/layout :: footer">
</div>

</body>
</html>
