<!DOCTYPE html>
<html lang="fi">

    
<head th:replace="fragments/layout :: header">
</head>
<body>
    <div th:replace="fragments/layout :: jumbotron">
    </div>

    <nav th:replace="fragments/layout :: navigaatio">
    </nav>

    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-6 mx-auto">

            <div>
                <form class="form-group" name="f" method="POST" th:action="@{/kirjoitaseinalle}">
                    <fieldset>
                        <legend>Seinä</legend>
                        <p>Kirjoita viesti seinälle</p>
                        <div class="form-group">
                            <input class="form-control" type="text" name="viesti"/>
                        </div>

                        <div class="form-actions" >
                            <button class="btn btn-primary" type="submit">Kirjoita</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <hr>

            <div th:each="viesti : ${viestit}">
                <div>
                    <span class="font-weight-bold" th:text="${viesti.lahettaja.nimi}"></span>
                    <span>kirjoitti</span>
                    <span th:text="${#temporals.format(viesti.lahetysaika, 'dd.MM.yyyy HH:mm')}"></span>
                </div>
                <br>
                <div>
                    <p th:text="${viesti.sisalto}"></p>
                </div>
                <div style="margin-left: 30px;">
                    <p>Tykkäyksiä <span th:text="${#lists.size(viesti.tykkaykset)}"></span>
                    
                    <a class="btn-sm btn-primary" th:href="@{/tykkaa/viesti/{id}(id=${viesti.id})}">Tykkää</a>
                </div>
                
                
                
                
                
                <div style="margin-top: 10px; margin-left: 30px;">
                    <p><strong>Kommentit</strong></p>
                    <div th:each="kommentti : ${viesti.kommentit}">
                        
                        <p th:text="${kommentti.teksti}"></p>
                        <em><span th:text="${kommentti.kommentoija.nimi}"></span>
                            <span th:text="${#temporals.format(kommentti.aika, 'dd.MM.yyyy HH:mm')}"></span></em>
                        <hr>
                    </div>
                </div>
                
                <div style="margin-left: 30px;">
                    
                    <form class="form-inline" method="POST" th:action="@{/kommentoiviesti/{id}(id=${viesti.id})}">
      
                        <div class="form-group">
                            <input class="form-control" type="text" name="kommentti"/>
                        </div>


                        <button class="btn btn-primary" type="submit">Kommentoi</button>

            
                    </form>
                </div>
                
                
                
                
                
                
                <hr>
            </div>
          


        </div>
      </div>
    </div>

<div th:replace="fragments/layout :: footer">
</div>

</body>
</html>
